body {
  font-family: "Courier new";
}

.header {
  color: purple;
  background-color: wheat;
  font-weight: 800;
  font-size: 25px;
  text-align: center;
}

.chef {
  text-align: center;
}

.recipes {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}
