/* box model - Content > Padding (whitespace between content and border) > Border > Margin (whitespace outside of our border seperating our box from other content) */
/* Block boxes cover space from left to right as far as it can go and will break onto a new line  */
/* Inline boxes only cover the space as bounded by the tages in the HTML element and will not break onto a new line */
/* Inline-block property lets you set a width and height on the element while also not breaking onto a new line  */
/* Boxes have inner display type and outer display type. Use "display" property */
/* Use "box-sizing: border-box;" to turn on alternative box model */

/* Apply alternative to all elements by setting box-sizing property on <html> and then using this: 
*::before,
*::after {
  box-sizing: inherit;
 } */

 /* .header {
  width: 990px;
  margin: 0 auto;
 } */
 /* Center horizontally */

 *::before,
 *::after { 
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: lavender;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

img {
  width: 350px;
}

h1 {
  color: teal;
}

.recipes {
  border: 2px solid teal;
  width: 350px;
  margin: 50px auto;
  padding-bottom: 50px;
}