body {
  font-family: "Courier new";
  background-color: lightblue;
}

.header {
  color: purple;
  font-weight: 800;
  font-size: 22px;
  text-align: center;
  text-decoration: underline;
}

.chef {
  text-align: center;
}

.recipes {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
